extends ../layout

block scripts
    script(src='/socket.io/socket.io.js')

block layout-content

  div
    .container
      br
      form
        .row
          include ./resultLayout
        .row
          .form-group.col-sm-3
            label(for="selEvent") Select a Event:
            select.form-control#selEvent(name="selEvent")
              option
          .form-group.col-sm-3
            label.container
              input#teamEventL(type="radio" name="radio" value="local")
              label#lblTl(style="margin-left: 18px") Team Local
              span.checkmark
            label.container
              input#teamEventV(type="radio" name="radio"  value="visitor")
              label#lblTv(style="margin-left: 18px") Team Visitor
              span.checkmark
          .form-group.col-sm-3
            label(for="selPlayer") Select a Player:
            select.form-control#selPlayer(name="selPlayer")
              option
        .form-group.row
          button.btn.btn-primary.col-sm-2#btnTeam(value="dd") Add Event
      .col-sm-10.col-sm-offset-2.frame
        include ./listLayout