extends ../layout

block scripts
  script(src='/socket.io/socket.io.js')
  link(rel="stylesheet" href="/css/select.css")

block layout-content
  div
    .container
      br
      form
        .row
          include ./resultLayout
      .col-sm-10.col-sm-offset-2.frame
        include ./listLayout