<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/select.css">
</head>
<body>
	<div class="container">
        <br>
      <form action="">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="selSoccerGame">Select a Soccer Game:</label>
            <select class="form-control" id="selSoccerGame" name="selSoccerGame">
                <option></option>
            </select>
          </div>
          <div class="form-group col-sm-8">
            <div class="row">
              <div class="form-group col-sm-2">
                  <img id="imgLocal" src='' width='80px'/>
                  <h6 id="nameLocal">Team Local</h6>
              </div>
              <!--  
              <div class="form-group col-sm-2 text-center align-middle">
                <h2>4 - 7</h2>
                <h4>min.8</h4>
                <h6><span class="badge badge-`+(data.is_playing ? 'success">en vivo' : 'secondary">finalizado')+`</span></h6>
              </div>-->
              
              <div class="row">
                <div class="form-group col-sm-2">
                    <h1 id="goalLocal">0</h1>
                </div>
                <div class="form-group col-sm-2">
                    <h1>:</h1>
                    <h2 id="currentTime" style="color: rgb(20, 238, 75);margin-left: -4px;">0</h2>
                </div>
                <div class="form-group col-sm-2 " style="margin-left: -12px;">
                    <h1 id="goalVisitor">0</h1>
                </div>
              </div>
              <div class="form-group col-sm-2">
                  <img id="imgVisitor" src='' width='80px'/>
                  <h6 id="nameVisitor">Team Visitor</h6>
              </div>             
            </div>            
          </div>   
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="selEvent">Select a Event:</label>
                <select class="form-control" id="selEvent" name="selEvent">
                    <option></option>
                </select>
              </div>
            <div class="form-group col-sm-3">
              <label class="container">
                  <input   type="radio" name="radio" id="teamEventL" value="local"><label id="lblTl">Team Local</label>
                  <span class="checkmark"></span>
                </label>
                <label class="container">
                  <input type="radio" name="radio" id="teamEventV" value="visitor"><label id="lblTv">Team Visitor</label>
                  <span class="checkmark"></span>
                </label>
            </div>  
          <div class="form-group col-sm-3">
            <label for="selPlayer">Select a Player:</label>
            <select class="form-control" id="selPlayer" name="selPlayer">
                <option></option>
            </select>
          </div>  
          <div class="form-group col-sm-3">
              <label for="minute">Minute:</label>
              <input type="number" class="form-control" id="minute" placeholder="Enter minute" name="minute">
          </div>   
                   
        </div>
        <div class="form-group row">
        	<button  class="btn btn-primary col-sm-2" id="btnTeam"  value="dd">Add Event</button>
          
        </div>
      </form>
      <div class="col-sm-10 col-sm-offset-2 frame">
          <ul></ul>
          <div>
      </div> 
       
      <script>
         function insertDetail(event){        
          if (event.isLocalEvent){
            $("ul").append(`
            <li style="width:50%">
              <div class="msj macro">
              <div class="avatar"><img class="img-circle" style="width:80%;height:80%" src="${event.player.team.shield}" /></div>
                <div class="text text-l">
                  <p>${event.type_event}</p>
                  <p>${event.player.name}</p>
                  <p><small>Minuto: ${event.time}</small></p>
                </div>
              </div>
            </li>`)                   
          }else{
            $("ul").append(`
            <li style="width:50%;margin-left:40%">
              <div class="msj-rta macro">
                <div class="text text-r">
                  <p>${event.type_event}</p>
                  <p>${event.player.name}</p>
                  <p><small>Minuto: ${event.time}</small></p>
                </div>
              <div class="avatar" style="padding:0px 0px 0px 0px !important"><img class="img-circle" style="width:80%;height:80%;" src="${event.player.team.shield}" /></div>
            </li>`)
          }          
        }      
      </script>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io();
        getSoccerGame();        
        getEvents();
        var playerL,playerV,isLocal,shieldL,shieldV;
        //Seleccionar Jugador
        $("input[name='radio']").change(async function(){
          $('#selPlayer').children('option:not(:first)').remove();
          if ($(this).attr("id")==='teamEventL') {
              playerL.forEach(addPlayer);
              isLocal=true;
          } else {
            playerV.forEach(addPlayer);
            isLocal=false;
          }
        });

        function resetEvents(){
          $("ul").empty();
        }
        //llena combos Jugadores
        function addPlayer(player){
            $("#selPlayer").append(`
              <option value=${player._id}>${player.name}</option>`)
        }
        //Selecciona partidos en juego
        $("select#selSoccerGame").change(async function(){
          resetEvents();
          let details = await fetch('/detail_matchs/getByTournamentResult/'+$("#selSoccerGame").val());
          if (details.ok) {
            let json =  details.json();
            json.then(async (details)=>{   
              details.forEach(detail => {
                insertDetail(detail);
              });
              
            })
          } else {
            alert("HTTP-Error: " + details.status);
          } 
          let response = await fetch('/tournament_results/'+$("#selSoccerGame").val());
          if (response.ok) {
            let json =  response.json();
            json.then(async (team)=>{
              $("#btnTeamL").html(team.local_team.name);
              $("#btnTeamL").val(team.local_team._id);
              $("#imgLocal").attr("src",team.local_team.shield);
              $("#nameLocal").html(team.local_team.name);
              $("#goalLocal").html(team.local_goals);
              $("#lblTl").text(team.local_team.name);
              $("#teamEventL").val(team.local_team._id);
              shieldL=team.local_team.shield;
             
              $("#btnTeamV").html(team.visitor_team.name);
              $("#btnTeamV").val(team.visitor_team._id);
              $("#imgVisitor").attr("src",team.visitor_team.shield);
              $("#nameVisitor").html(team.visitor_team.name);
              $("#goalVisitor").html(team.visitor_goals);
              $("#lblTv").html(team.visitor_team.name);
              $("#teamEventV").val(team.visitor_team._id);
              shieldV=team.visitor_team.shield;

              $("#currentTime").html(team.current_time);   
              
              let teamL = await fetch('/players/getByTeam/'+team.local_team._id);              
              if (teamL.ok) {
                let json =  teamL.json();
                json.then(players=>{                                  
                  playerL=players;
                })
              } else {
                alert("HTTP-Error: " + response.status);
              }  
              let teamV = await fetch('/players/getByTeam/'+team.visitor_team._id);              
              if (teamV.ok) {
                let json =  teamV.json();
                json.then(players=>{                                   
                  playerV=players;
                })
              } else {
                alert("HTTP-Error: " + response.status);
              } 
            })
          } else {
            alert("HTTP-Error: " + response.status);
          } 
        });
        
       
        $(function () {
          $( "#btnTeam" ).click(function(e) {
            e.preventDefault();   
            var player= $('select[name="selPlayer"] option:selected').text();
            var shield=isLocal?shieldL:shieldV; 
            fetch('/detail_matchs/create', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
              tournament_result: $("#selSoccerGame").val(), 
              type_event: $("#selEvent").val(), 
              player: $("#selPlayer").val(), 
              time: $("#minute").val(), 
              isLocalEvent:isLocal})
            });
            var data;
            if ($("#selEvent").val()==='GOAL') {
              if (isLocal) {
                data={
                  local_goals:parseInt($("#goalLocal").html())+1
                }
              } else {
                data={
                  local_goals:parseInt($("#goalVisitor").html())+1
                }
              }
              fetch('/tournament_results/'+$("#selSoccerGame").val()+'/update', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
              });
            }
          });  
        });   
        //Escucha cambios en 
        socket.on('changeDetailMatch', function(event){
          insertDetail(event);
        });
        //llena combo Partidos
        function addSoccerGame(soccerGame){
            $("#selSoccerGame").append(`
              <option value=${soccerGame._id}>${soccerGame.local_team.name} vs ${soccerGame.visitor_team.name}</option>`)
        } 
        //obtiene Partidos en juego  
        function getSoccerGame(){
          $.get('/tournament_results/getIsPlaying', (data) => {
            data.forEach(addSoccerGame);                
          });
        }
        //llena combos Eventos
        function addEvent(events){
          $("#selEvent").append(`
            <option value=${events.name}>${events.name}</option>`)
        }  
        //obtiene Eventos 
        function getEvents(){            
          $.get('/events/get', (data) => {
            data.forEach(addEvent);
          });
        }
    </script>
</body>
</html>
