.row.form-group.col-xs-12.col-sm-12.col-md-12
  .row.col-md-6
    .form-check.col-md-3
      label.form-check-label(for='check1')
        input#check1.form-check-input(type='checkbox' name='option1' value='something' checked='')
        | En Juego
    .col-md-8
      label(for='selSoccerGame') Select a Soccer Game:
      select.form-control#selSoccerGame(name="selSoccerGame")
        option
  .col-xs-12.col-sm-12.col-md-6
    .row.justify-content-center.text-center#result